.contentWrapper {
  min-height: calc(100vh - 68px);
  padding: 2rem;

  background-image: radial-gradient(
      circle at center center,
      rgba(184, 184, 184, 0.05) 0%,
      rgba(184, 184, 184, 0.05) 13%,
      rgba(164, 164, 164, 0.05) 13%,
      rgba(164, 164, 164, 0.05) 18%,
      rgba(106, 106, 106, 0.05) 18%,
      rgba(106, 106, 106, 0.05) 27%,
      rgba(145, 145, 145, 0.05) 27%,
      rgba(145, 145, 145, 0.05) 64%,
      rgba(203, 203, 203, 0.05) 64%,
      rgba(203, 203, 203, 0.05) 85%,
      rgba(125, 125, 125, 0.05) 85%,
      rgba(125, 125, 125, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 8%,
      rgb(255, 255, 255) 8%,
      rgb(255, 255, 255) 17%,
      rgb(255, 255, 255) 17%,
      rgb(255, 255, 255) 61%,
      rgb(255, 255, 255) 61%,
      rgb(255, 255, 255) 69%,
      rgb(255, 255, 255) 69%,
      rgb(255, 255, 255) 88%,
      rgb(255, 255, 255) 88%,
      rgb(255, 255, 255) 100%
    );
  background-size: 95px 95px;
}

.cardGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  border: 1px solid #bbb;
  transition: transform 0.5s ease-in;
}

/* 
.card:hover {
   how to do this nicely? no overflow, growing in the proper direction, etc 
  transform: scale(1.2);
}
*/

@media (min-width: 700px) {
  .contentWrapper {
    /* margin-left accounts for width of red pseudo element running down the page */
    margin-left: 100px;
  }
}
