.contentWrapper {
  position: relative;
}

/* ======= Card Directions list ===== */
.cardDirections {
  margin: 2rem 0;
  padding: 0 1rem;
  max-width: 500px;
  /* border: 1px solid red; */
}

.cardDirections p {
  font-size: 1.2rem;
  margin-bottom: 2.8rem;
}

.cardDirectionsList {
  position: relative;
  padding-top: 1.75rem;
}

.cardDirectionsList li {
  margin-bottom: 0.5rem;
}

.cardDirectionsList::after {
  content: attr(aria-label);
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  left: 0;
}

.cardDirectionsList::before {
  content: "";
  height: calc(100% - 1.75rem);
  width: 3px;
  position: absolute;
  top: 1.75rem;
  left: 0;
  background-color: var(--lightBlue);
  background-color: dodgerblue;
}

/* ===== Color choices ======== */
.colorChoices {
  padding: 1.75rem 1rem 0 2rem;

  /* border: 1px solid orange; */
  display: inline-block;
  position: relative;
  max-width: 500px;
  margin-bottom: 2.5rem;
}

.colorChoices::after {
  content: "Customization Tools";
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  left: 1rem;
}

.colorChoices::before {
  content: "";
  height: calc(100% - 1.75rem);
  width: 3px;
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  background-color: #bea6a0;
  background-color: dodgerblue;
}

.colorChoices label {
  display: block;
  margin-bottom: 1rem;
}

.colorChoices label:nth-of-type(1)::after {
  content: "Note: changing background color will wipe out your work thus far.";
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
}

/* ===== Buttons -> ADD message to canvas, CLEAR canvas, SUBMIT card ===== */
.addMessageButton {
  font-size: inherit;
  padding: 6px 12px;
  background-color: #ecf1f6;
  border: 0;
  outline: 1px solid #d69efc;
}

.addMessageButton:hover {
  background-image: linear-gradient(
    to right bottom,
    #ecf1f6,
    #d1e2ff,
    #c4d0ff,
    #c6b9ff,
    #d69efc
  );
}

.clearOrSubmitButtons {
  margin: 2rem 1rem 1rem;
}

.clearOrSubmitButtons button {
  width: 100px;
  font-size: inherit;
  padding: 6px 0;
}

.clearOrSubmitButtons button:hover {
  cursor: pointer;
}

.clearOrSubmitButtons button:nth-of-type(1) {
  margin-right: 1rem;
}

.clearButton {
  background-color: #eaf5ff;
  outline: 1px solid dodgerblue;
  border: 0;
  transition: all 0.3s ease;
}

.clearButton:hover {
  color: white;
  background-color: #0070e0;
}

.submitButton {
  background-color: #ffe3df;
  outline: 1px solid #ff4024;
  border: 0;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: #ff4f35;
}

.canvasWrapper {
  position: relative;
  max-width: 500px;
  margin: 0 1rem 1.5rem;
}

canvas {
  border: 1px solid dodgerblue;
  position: relative;
  width: 100%;
}

@media (min-width: 700px) {
  .contentWrapper {
    /* top padding accounts for height of header */
    padding: 0;

    /* 
    do i still need these, like in index styles?
    position: relative;
    z-index: 100;
    */

    /* margin-left accounts for width of red pseudo element running down the page */
    margin-left: 100px;
  }
}

@media (min-width: 800px) {
  .contentWrapper::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 550px);
    height: 100%;

    background-image: radial-gradient(
        circle at center center,
        rgba(184, 184, 184, 0.05) 0%,
        rgba(184, 184, 184, 0.05) 13%,
        rgba(164, 164, 164, 0.05) 13%,
        rgba(164, 164, 164, 0.05) 18%,
        rgba(106, 106, 106, 0.05) 18%,
        rgba(106, 106, 106, 0.05) 27%,
        rgba(145, 145, 145, 0.05) 27%,
        rgba(145, 145, 145, 0.05) 64%,
        rgba(203, 203, 203, 0.05) 64%,
        rgba(203, 203, 203, 0.05) 85%,
        rgba(125, 125, 125, 0.05) 85%,
        rgba(125, 125, 125, 0.05) 100%
      ),
      radial-gradient(
        circle at center center,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 8%,
        rgb(255, 255, 255) 8%,
        rgb(255, 255, 255) 17%,
        rgb(255, 255, 255) 17%,
        rgb(255, 255, 255) 61%,
        rgb(255, 255, 255) 61%,
        rgb(255, 255, 255) 69%,
        rgb(255, 255, 255) 69%,
        rgb(255, 255, 255) 88%,
        rgb(255, 255, 255) 88%,
        rgb(255, 255, 255) 100%
      );
    background-size: 65px 65px;
  }
}

@media (min-width: 1000px) {
  .colorChoices {
    margin-top: 2rem;
  }
}
