.contentWrapper {
  /* outline: 1px solid orange; */
  padding-top: 1.2rem;
  max-width: 600px;
}

.contentWrapper h1 {
  font-size: 1.75rem;
  margin-left: 1rem;
  padding: 0 2px;
  color: var(--darkBlue);
  display: inline-block;
  position: relative;
  z-index: 10;
}

.contentWrapper h1::after {
  content: "";
  position: absolute;
  top: calc(100% - 15px);
  left: 0;
  width: 100%;
  height: 15px;
  z-index: -10;
  background-color: #dfe9f4;
}

/* <ul> */
.timelineList {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 700px) {
  .contentWrapper {
    margin-left: 100px;
  }

  .contentWrapper h1 {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .contentWrapper {
    margin: 0 auto;
  }
}
