.navList {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navItem {
  margin: 0;
}

.navItem + .navItem {
  margin-left: 8px;
}

.navLink {
  display: block;

  padding: 1rem 1rem 8px 10px;
  color: var(--black);
  text-decoration: none;
  position: relative;
  height: 100%;
  width: 100%;
}

.navLink::after {
  display: block;
  content: "";
  background-color: var(--lightBlue);
  height: 3px;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after {
  transform: scaleX(1);
}
