.footer {
  /* text-align: center; */
  padding-left: 1rem;
  margin-left: 100px;
  background-color: #ebebee;
  background-color: white;
}

.footer a {
  color: var(--black);
  text-decoration: none;
  transition: 0.3s ease;
}

.footer a:hover,
.footer a:focus {
  color: var(--red);
}
