/* <li> */
.timelineEventWrapper {
  /* border: 2px solid green; */
  padding: 1rem 1rem 0;
}

/* the diamond shaped marker */
.timelineEventWrapper::before {
  content: "";
  display: inline-block;
  margin-right: 3rem;
  position: relative;
  top: 4.5px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
  background-color: var(--darkBlue);
}

.timelineEventWrapper:hover::before {
  transform: rotate(-45deg);
  background-color: var(--purple);
}

.timelineEventDate {
  background-color: var(--darkBlue);
  color: white;
  display: inline-block;
  padding: 5px 8px;
  margin: 0;
  transition: all 0.3s ease-in;
}

.timelineEventWrapper:hover .timelineEventDate {
  background-color: var(--purple);
}

.timelineEventTextWrapper {
  /*  outline: 2px solid purple; */
  position: relative;

  /* add 20 px to match the extra space taken up by the diamond shaped marker */
  padding-left: calc(3rem + 20px);
  padding-top: 1.5rem;
}

/* the line going down the side of the timeline event */
.timelineEventTextWrapper::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 8.5px;
  width: 3px;

  /* account for the .6rem it was absolutely positioned down from the top */
  height: calc(100% - 0.6rem);
  height: 100%;
  background-color: var(--darkBlue);
}

.timelineEventTitle {
  font-size: 1.4rem;
  margin-top: 0;
}

.timelineEventTextWrapper figure {
  margin: 0;
}

.eventDescription {
  padding: 0.5rem 0 2rem;
}
